openapi: 3.0.1
info:
  title: Todo-Listen-Verwaltung
  description: ""
  contact:
    email: leon.stuempeley@gmx.de
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0
servers:
  - url: https://turbo-space-journey-7pjp9gv7g9j2r55w-5000.app.github.dev/
tags:
  - name: Listenverwaltung
paths:
  /todo-list/{list_id}:
    get:
      tags:
        - Listeintragverwaltung
      summary: Get all items from list
      operationId: getList
      parameters:
        - name: list_id
          in: path
          description: list id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: List item returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TodoEntry"
        404:
          description: Invalid list id
          content: {}
        429:
          description: Too many requests have been sent
          content: {}
        500:
          description: Internal server error has occurred
          content: {}
    post:
      tags:
        - Listeintragverwaltung
      summary: Add new item to list
      operationId: addListItem
      parameters:
        - name: list_id
          in: path
          description: list id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: todo entry object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoEntryBody"
        required: true
      responses:
        201:
          description: List item added
          content: {}
        404:
          description: Invalid list id
          content: {}
        500:
          description: Internal server error has occurred
          content: {}
        429:
          description: Too many requests have been sent
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
        - Listenverwaltung
      summary: Delete a list
      operationId: deleteList
      parameters:
        - name: list_id
          in: path
          description: list id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        204:
          description: List was deleted
          content: {}
        404:
          description: Invalid list id
          content: {}
        429:
          description: Too many requests have been sent
          content: {}
        500:
          description: Internal server error has occurred
          content: {}
  /todo-list:
    get:
      tags:
        - Listenverwaltung
      summary: Get all lists
      operationId: getLists
      responses:
        200:
          description: Lists returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TodoList"
        429:
          description: Too many requests have been sent
          content: {}
        500:
          description: Internal server error has occurred
          content: {}
    post:
      tags:
        - Listenverwaltung
      summary: Add new list
      operationId: addList
      requestBody:
        description: list object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoListBody"
        required: true
      responses:
        201:
          description: List added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TodoList"
        429:
          description: Too many requests have been sent
          content: {}
        500:
          description: Internal server error has occurred
          content: {}
      x-codegen-request-body-name: body
  /todo-list/entry/{entry_id}:
    patch:
      tags:
        - Listeintragverwaltung
      summary: Update list entry
      operationId: updateListEntry
      parameters:
        - name: entry_id
          in: path
          description: entry id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: updated todo entry object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoEntryBody"
        required: true
      responses:
        200:
          description: List item updated
          content: {}
        404:
          description: Invalid entry id
          content: {}
        429:
          description: Too many requests have been sent
          content: {}
        500:
          description: Internal server error has occurred
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
        - Listeintragverwaltung
      summary: Delete a list entry
      operationId: deleteListEntry
      parameters:
        - name: entry_id
          in: path
          description: entry id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        204:
          description: List Entry was deleted
          content: {}
        404:
          description: Invalid list Entry id
          content: {}
        429:
          description: Too many requests have been sent
          content: {}
        500:
          description: Internal server error has occurred
          content: {}
components:
  schemas:
    TodoList:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - name
    TodoEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        list_id:
          type: string
          format: uuid
      required:
        - id
        - name
        - description
        - list_id
    TodoListBody:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    TodoEntryBody:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      required:
        - name
        - description